/* CSS VARIABLES */

* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Bookman Old Style', serif, Arial, Helvetica, sans-serif;
}

body h1 {
  padding-top: 60px;  
  text-align: center;
}

/* HEADER */
header {
    padding: 20px; /*space around the header*/
    top: 0; /*space from the top*/
    position: fixed; /*fix if we scroll*/
    display: flex; /*like a box*/
    justify-content: space-between;
    align-items: center;
    background-color: #6584c1;
    width: 100%;/*all the width*/
    z-index: 1; /*over all elements*/
}

.juststreemitLogo img {  
    height: 75px; /*reduce the pic of the logo*/
}
  
.main-nav a {
  color: white;
  font-weight: bolder;
  font-size: x-large;
  text-decoration: none;  
  padding-left: 30px;
  padding-right: 30px;
}

.main-nav a:hover {
  text-decoration: underline;
}

.sub-nav a {
  color: white;
  padding-right: 50px;
  text-decoration: none;  
}

.sub-nav a:hover {
  text-decoration: underline;
}


/* MAIN CONTAINER */
.main-container {
  box-sizing: border-box;
  margin: auto;
  width: 50%;
  position: relative;
  padding-top: 200px;
}

.main-container img{
  margin: 30px;
}

/* BEST MOVIES */

.box-img {
  position: relative;
  display: flex;
  justify-content: center;
}

.box-img .image {
  width: 800px;
  height: 500px;
  overflow: hidden;
}

.box-img .image img {
  width: 800px;
  height: auto;
  transform: translateY(-25%);
}

.boutonPlay{
  position: absolute;
  top: 83%;
}

.play{
  color:white;
  background-color: rgb(182, 42, 42);
  letter-spacing: 1px;
  font-weight: 300;
  font-size: 20px;
  transition: 0.6s ease;
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.play:hover {
  background-color: red;
}

.box-img .title{
  position: absolute;
  top : 60%;
  left: 10%;
  padding: 5px;
  background-color: white;
  font-size: xx-large;
  opacity: 0.5;
}

.box-img .summary{
  position: absolute;
  top : 70%;
  left: 10%;
  right: 7%;
  padding: 5px;
  background-color: white;
  opacity: 0.5;
}

/* OTHERS CATEGORIES */

.cat-block {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.slideshow-container {
  align-items: center;
  overflow: hidden;
}

.slides {
  display: flex;
  width: 700px;
  transition: 1s linear;
}

.mySlide {
  flex: 3 1 100%;
}

/* Define the style and position of the nav button for the carousel */
.carouselButton {
  color: rgb(102, 154, 214);
  font-weight: bold;
  font-size: 35px;
  transition: 0.6s ease;
  width: 3rem;
  height: 3rem;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.carouselButton:hover {
  background-color: lightblue;
}

/* MODAL */

/* full screen shadow when the modal is open */
.modal {
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* the modal  */
.modal-content {
  position: relative;
  justify-content: center;
  background-color: #fff;
  border-radius: 20px;
  height: 500px;
  /*if the box is over the window*/
  max-width: calc(100vh - 20px);
  width: 700px;
}

/* fix the header of the modal when scroll, allow also to keep visible the close button */
.modal-header {
  position: fixed;
  justify-content: center;
  /*if the box is over the window*/
  max-width: calc(100vh - 20px);
  width: 700px;
  height: 80px;
  background: #0071bc;
  color: #fff;
  text-align: left;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  z-index: 1;

}

/* define the body of the modal to ajuste the scroll bar */
.modal-body {
  position: relative;
  top: 80px;
  padding: 20px;
  height: 400px;
  max-width: calc(100vh - 20px);
  overflow: hidden;
  overflow-y: scroll;
}

.modal-content h1{
  padding-top: 0;  
}

/* center the image in the modal */
.modal-content img{
    margin: auto;
    display: block;
}

/* define the style of the text in the modal */
.modal p {
  text-align: center;
  font-style: italic;
  color: #4a4747;
}

.modal .description {
  font-weight: bold;
}

/* define the style and position of the close button */
.closebtn{
  position: absolute;
  justify-content: center;
  top: 30px;
  right: 0;
  width: 50px;
  height: 50px;
  color: black;
  cursor: pointer;
}

/* FOOTER */
footer{
  text-align: center;
}
